@import "tailwindcss";

@layer base {
  html, body, #root {
    background-color: transparent !important;
    background: transparent !important;
    color: #0f172a;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
  }
}
